html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-image: url('./assets/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}